# Copy this file to terraform.tfvars for local testing.
# Replace placeholders with non-secret environment values.
# Do not commit terraform.tfvars.

oidc_role_arn = "<YOUR_PRODUCTION_ROLE_ARN>"
cloud_account_id = "<YOUR_AWS_ACCOUNT_ID>"
state_bucket = "terraform-aws-github-oidc-s3-bucket-example-prod"
state_key = "terraform/production/terraform.tfstate"
cloud_region = "us-east-1"
